h1 {
	background-color: #f96332;
	color: #FFFFFF;
	text-align: center;
	font-size: 10rem;
	margin-bottom: 3rem;
	height: 11rem;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.space {
	margin: 5rem;
}

.my-btn {
	font-size: 3rem;
	width: 30rem;
	margin: 0 2rem;
}

.my-btn-lg {
	margin-top: 3rem;
	font-size: 5rem;
	width: 40rem;
	height: 8rem;
}

.btn-container {
	display: flex;
	justify-content: center;
}

.card {
	margin: 2rem;
	height: 20rem;
	font-size: 1rem;
	width: 30rem;
}

.card-title {
	background-color: #f96332;
	color: #FFFFFF;
	margin-top: 0;
	font-size: 2rem;
}

.card-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.my-form-control {
	width: 15rem;
	height: 1.5rem;
	margin-bottom: 1rem;
}

.radio-label {
	width: 6rem;
}

input[type=radio] {
	display: none;
}

input[type=radio] + label {
	display:inline-block;
	cursor: pointer;
	border: 0.1rem solid;
	margin: -0.1rem;
	background-color: #f96332;
	color: #ffffff;
}

input[type=radio]:checked + label {
	background-color: #ffffff;
	color: #f96332;
}

h5 {
	color: #f96332;
}

.radios-container {
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	text-align: center;

}

.radio-container {
	margin-bottom: 1rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.big-container {
	display: flex;
	justify-content: center;
	align-items: center;
}


.small-radio-label {
	width: 7rem;
}

#player_2_name{
	display: initial;
}

#board{
	border: 2px solid;
	border-radius: 15px;
}

#alert_box{
	background-color: #ffffff;
	position: absolute;
	left: 40%;
	text-align: center;
	width: 20%;
	border: 0.2rem solid #f96332;
	border-radius: 2rem;
	color: #f96332;
}

#board_big_container{
	margin-bottom: 2rem;
}