h1 {
	background-color: #f96332;
	color: #FFFFFF;
	text-align: center;
	font-size: 10rem;
	margin-bottom: 10rem;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.space {
	margin: 5rem;
}

.my-btn {
	font-size: 3rem;
	width: 30rem;
	margin: 2rem;
}

.my-btn-lg {
	font-size: 5rem;
	width: 40rem;
}

.btn-container {
	display: flex;
	justify-content: center;
}

.card {
	margin: 2rem;
	height: 25rem;
	font-size: 1.5rem;
	width: 30rem;
}

.card-title {
	background-color: #f96332;
	color: #FFFFFF;
	margin-top: 0;
	font-size: 3rem;
}

.card-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.my-form-control {
	width: 20rem;
	height: 3rem;
	margin-bottom: 1rem;
}

.radio-label {
	width: 7rem;
}

input[type=radio] {
	display: none;
}

input[type=radio] + label {
	display:inline-block;
	cursor: pointer;
	border: 0.1rem solid;
	margin: -0.2rem;
	background-color: #f96332;
	color: #ffffff;
}

input[type=radio]:checked + label {
	background-color: #ffffff;
	color: #f96332;
}

h5 {
	color: #f96332;
}

.radios-container {
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	text-align: center;

}

.radio-container {
	margin-bottom: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.big-container {
	display: flex;
	justify-content: center;
	align-items: center;
}